@font-face {
	font-family: 'AvenirNextPro';
	font-weight: 400;
	font-style: normal;
	src: url('../../webfonts/30ACC5_0_0.eot');
	src: 	url('../../webfonts/30ACC5_0_0.eot?#iefix') format('embedded-opentype'),
			url('../../webfonts/30ACC5_0_0.woff2') format('woff2'),
			url('../../webfonts/30ACC5_0_0.woff') format('woff'),
			url('../../webfonts/30ACC5_0_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirNextPro';
	font-weight: 900;
	font-style: normal;
	src: url('../../webfonts/30ACC5_1_0.eot');
	src: 	url('../../webfonts/30ACC5_1_0.eot?#iefix') format('embedded-opentype'),
			url('../../webfonts/30ACC5_1_0.woff2') format('woff2'),
			url('../../webfonts/30ACC5_1_0.woff') format('woff'),
			url('../../webfonts/30ACC5_1_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'AvenirNextPro';
	font-weight: 700;
	font-style: normal;
	src: 	url('../../webfonts/30ACC5_2_0.eot');
	src: 	url('../../webfonts/30ACC5_2_0.eot?#iefix') format('embedded-opentype'),
			url('../../webfonts/30ACC5_2_0.woff2') format('woff2'),
			url('../../webfonts/30ACC5_2_0.woff') format('woff'),
			url('../../webfonts/30ACC5_2_0.ttf') format('truetype');
}
 
  
@font-face {
	font-family: 'FFMore';
	font-weight: 600;
	font-style: normal;
	src: url('../../webfonts/30ACC5_3_0.eot');
	src: 	url('../../webfonts/30ACC5_3_0.eot?#iefix') format('embedded-opentype'),
			url('../../webfonts/30ACC5_3_0.woff2') format('woff2'),
			url('../../webfonts/30ACC5_3_0.woff') format('woff'),
			url('../../webfonts/30ACC5_3_0.ttf') format('truetype');
}




@font-face {
    font-family: 'Merriweather';
    src: url('../../webfonts/merriweather-bold-webfont.eot');
    src: url('../../webfonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../../webfonts/merriweather-bold-webfont.woff') format('woff'),
         url('../../webfonts/merriweather-bold-webfont.ttf') format('truetype'),
         url('../../webfonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: 'Merriweather';
    src: url('../../webfonts/merriweather-regular-webfont.eot');
    src: url('../../webfonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../../webfonts/merriweather-regular-webfont.woff') format('woff'),
         url('../../webfonts/merriweather-regular-webfont.ttf') format('truetype'),
         url('../../webfonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;

}